<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma deuxième page avec le Site du Zéro !</title>
    </head>
    <body>
        <h1>Byby {{ nom }} !</h1>

        <p>
            Le Byby World est un grand classique en programmation.
            Il signifie énormément, car cela veut dire que vous avez
            réussi à exécuter le programme pour accomplir une tâche simple :
            afficher ce hello world !
        </p>
		Recuperation session {{ user_id }} <br>
    </body>
</html>